.page {
	position: absolute;
	width: 4758px;
	min-height: 100%;
	transition: width 1.25s ease;

	.pattern {
		display: inline-block;
		background-image: url(/native/pattern.png);
		background-size: cover;
		background-position: right;
		background-repeat: repeat-y;
		width: 600px;
		height: 1000px;
		vertical-align: middle;
	}

	.pattern.inverted {
		background-image: url(/native/pattern_inv.png);
		background-position: left;
	}

	.slide-one {
		display: inline-block;
		width: 1200px;
		height: 900px;
		vertical-align: middle;

		.right-col {
			display: inline-block;
			width: 450px;
			height: 900px;
			vertical-align: middle;

			.product {
				display: block;
				width: 500px;
				height: 780px;

				.arrow {
					display: inline-block;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 22px;
					height: 700px;
					vertical-align: middle;
				}

				.arrow.up {
					background-image: url(/native/up.png);
				}

				.arrow.down {
					background-image: url(/native/down.png);
				}

				.viewctrl {
					display: inline-block;
					cursor: ew-resize;
					vertical-align: middle;
				}

				.mobileview {
					display: none;
				}

				.taptic {
					display: none;
				}
			}

			.buy {
				display: block;
				font-size: 20px;
				font-weight: 600;
				background: none;
				background-image: url(/native/buttonbg.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				border: none;
				width: 160px;
				height: 60px;
				margin: 0px auto;
				color: rgba(255, 255, 255, 1);
				cursor: pointer;
				text-indent: 10px;

				&:active {
					margin-top: 2px;
				}
			}
		}

		.left-col {
			position: relative;
			display: inline-block;
			width: 500px;
			height: 800px;
			margin-left: 100px;
			vertical-align: middle;

			h1 {
				font-family: "Newton", Georgia, serif;
				margin-bottom: -10px;
				color: rgba(66, 45, 3, 1);
				cursor: default;
			}

			.features {
				display: block;
				margin: 0px auto;
				vertical-align: middle;

				h2 {
					margin-top: 35px;

					a {
						font-family: Helvetica, Arial, sans-serif;
						font-weight: 600;
						color: rgba(136, 157, 57, 1);
						text-decoration: none;

						.feature {
							display: inline-block;
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							width: 35px;
							height: 25px;
							margin-top: -8px;
							margin-right: 8px;
							vertical-align: middle;
						}

						.feature#dots {
							background-image: url(/native/dots.png);
						}

						.feature#lines {
							background-image: url(/native/lines.png);
						}
					}
				}

				div {
					margin-left: 45px;

					ul {
						margin-top: 8px;

						li {
							font-family: Helvetica, Arial, sans-serif;
							font-weight: 300;
							margin-top: 4px;
							padding-left: 1em;
							cursor: default;
							color: rgba(136, 157, 57, 1);
							text-indent: -0.7em;

							&::before {
								content: "• ";
								color: rgba(136, 157, 57, 1);
							}
						}
					}
				}
			}

			.ingredient {
				display: block;
				position: absolute;
				bottom: 0px;
				background-image: url(/native/ingredients.png);
				background-size: cover;
				background-position: 0px -600px;
				background-repeat: no-repeat;
				width: 550px;
				height: 300px;
				margin-top: 100px;
			}
		}
	}

	.vertical-line {
		display: inline-block;
		background-image: url(/native/vertical.png);
		background-size: cover;
		background-repeat: repeat-y;
		width: 50px;
		height: 725px;
		margin-left: 100px;
		margin-right: 100px;
		vertical-align: middle;
	}

	.vertical-line.inverted {
		background-image: url(/native/vertical_inv.png);
		background-position: left;
	}

	.slide-two {
		display: inline-block;
		width: 960px;
		height: 725px;
		vertical-align: middle;

		h1 {
			font-family: "Newton", Georgia, serif;
			margin-top: -40px;
			margin-left: 4px;
			margin-bottom: 10px;
			color: rgba(66, 45, 3, 1);
			cursor: default;
		}

		.about {
			display: block;
			width: 960px;

			.card {
				display: inline-block;
				font-size: 14px;
				width: 300px;
				height: 225px;
				margin: 8px;
				text-align: center;
				vertical-align: middle;

				.front {
					background-color: rgba(124, 133, 44, 1);

					.image {
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						width: 100%;
						height: 100%;
					}
				}

				.back {
					background-color: rgba(124, 133, 44, 1);
					color: rgba(255, 255, 255, 1);

					.text {
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						width: 280px;
						height: 205px;
						margin: 10px;
					}
				}
			}
		}
	}

	.slide-three {
		display: inline-block;
		width: 860px;
		height: 725px;
		margin-left: 10px;
		vertical-align: middle;

		.social {
			margin-top: -35px;
			margin-bottom: 10px;

			.icon {
				display: inline-block;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 100%;
				width: 40px;
				height: 40px;
				margin-left: 10px;
				cursor: pointer;
				transition: opacity 0.25s ease;

				&:first-child {
					margin-left: 0px;
				}

				&:hover {
					opacity: 0.9;
				}
			}

			.icon#fb {
				background-image: url(/native/fb.png);
			}

			.icon#insta {
				background-image: url(/native/insta.png);
			}
		}

		.about {
			display: inline-block;
			background-image: url(/native/about.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 275px;
			height: 700px;
			vertical-align: middle;
		}

		.about_description {
			display: inline-block;
			background-image: url(/native/description.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 400px;
			height: 600px;
			margin-left: 100px;
			vertical-align: middle;
		}
	}

	.mobile {
		display: none;
	}

	.horizontal-line {
		display: block;
		background-image: url(/native/horizontal.png);
		background-size: contain;
		background-position: center;
		background-repeat: repeat-x;
		width: 3500px;
		height: 10px;
		margin-top: -25px;
		margin-left: 600px;
	}

	.copyright {
		position: relative;
		background-color: rgba(255, 255, 255, 1);
		background-image: url(/native/copyright.png);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 300px;
		height: 15px;
		margin-top: -15px;
		margin-left: 3725px;
	}

	.phone {
		position: relative;
		width: 300px;
		margin-top: -50px;
		margin-left: 3725px;
		text-align: center;

		a {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: 600;
			font-size: 18px;
			border-bottom: 1px dashed transparent;
			color: rgba(66, 45, 3, 1);
			text-decoration: none;

			&:hover {
				border-color: rgba(66, 45, 3, 1);
			}
		}
	}
}

@media(max-height: 860px) {
	.page {
		width: 3998px;

		.pattern {
			width: 500px;
		}

		.slide-one {
			width: 1000px;
			height: 700px;

			.right-col {
				width: 414px;
				height: 700px;

				.product {
					width: 414px;
					height: 640px;
					margin-top: -10px;

					.arrow {
					   height: 640px;
				   }
				}

				.buy {
					display: block;
					margin-top: -10px;
					vertical-align: middle;

					&:active {
						margin-top: -8px;
					}
				}
			}

			.left-col {
				height: 700px;
				margin-left: 60px;

				h1 {
					font-size: 28px;
				}

				.features {
					h2 {
						margin-top: 26px;

						a {
							font-size: 22px;

							.feature {
								width: 30px;
								height: 20px;
								margin-top: -8px;
								margin-right: 8px;
							}
						}
					}

					div {
						ul {
							margin-top: 6px;
						}
					}
				}

				.ingredient {
					bottom: 20px;
					background-image: url(/native/ingredients_low.png);
					background-position: 0px -480px;
					width: 500px;
					height: 240px;
				}
			}
		}

		.vertical-line {
			background-size: contain;
			height: 620px;
			margin-left: 50px;
			margin-right: 50px;
		}

		.slide-two {
			width: 860px;
			height: 700px;

			h1 {
				font-size: 28px;
				margin-top: 0px;
				margin-bottom: 2px;
			}

			.about {
				display: block;
				width: 960px;

				.card {
					width: 260px;
					height: 195px;
					margin: 8px;

					.back {
						.text {
							width: 240px;
							height: 176px;
							margin: 10px;
						}
					}
				}
			}
		}

		.slide-three {
			width: 800px;
			height: 700px;
			margin-left: 10px;

			.social {
				margin-top: 0px;
			}

			.about {
				height: 620px;
			}

			.about_description {
				margin-top: 20px;
				margin-left: 50px;
			}
		}

		.horizontal-line {
			width: 2930px;
			height: 8px;
			margin-top: -20px;
			margin-left: 500px;
		}

		.copyright {
			height: 14px;
			margin-top: -12px;
			margin-left: 3080px;
		}

		.phone {
			margin-left: 3080px;
		}
	}
}

@media(max-height: 720px) {
	.page {
		width: 3998px;

		.pattern {
			width: 500px;
		}

		.slide-one {
			width: 1000px;
			height: 640px;

			.right-col {
				width: 374px;
				height: 640px;

				.product {
					width: 374px;
					height: 560px;
					margin-top: -10px;

					.arrow {
					   height: 560px;
				   }
				}

				.buy {
					display: block;
					margin-top: -10px;
					vertical-align: middle;

					&:active {
						margin-top: -8px;
					}
				}
			}

			.left-col {
				height: 640px;
				margin-left: 60px;

				h1 {
					font-size: 24px;
				}

				.features {
					h2 {
						margin-top: 20px;

						a {
							font-size: 18px;

							.feature {
								width: 25px;
								height: 16px;
								margin-top: -4px;
								margin-right: 4px;
							}
						}
					}

					div {
						ul {
							margin-top: 4px;

							li {
								font-size: 14px;
							}
						}
					}
				}

				.ingredient {
					bottom: 20px;
					background-image: url(/native/ingredients_low.png);
					background-position: 0px -480px;
					width: 500px;
					height: 240px;
				}
			}
		}

		.vertical-line {
			background-size: contain;
			height: 540px;
			margin-left: 50px;
			margin-right: 50px;
		}

		.slide-two {
			width: 860px;
			height: 640px;

			h1 {
				font-size: 24px;
				margin-top: 0px;
				margin-bottom: 6px;
			}

			.about {
				display: block;
				width: 960px;

				.card {
					width: 250px;
					height: 180px;
					margin: 4px;

					.back {
						.text {
							width: 230px;
							height: 166px;
							margin: 10px;
						}
					}
				}
			}
		}

		.slide-three {
			width: 800px;
			height: 640px;
			margin-left: 10px;

			.social {
				margin-top: 0px;
			}

			.about {
				height: 580px;
			}

			.about_description {
				margin-top: 0px;
				margin-left: 30px;
			}
		}

		.horizontal-line {
			width: 2930px;
			height: 8px;
			margin-top: -20px;
			margin-left: 500px;
		}

		.copyright {
			height: 14px;
			margin-top: -12px;
			margin-left: 3080px;
		}

		.phone {
			margin-left: 3080px;
		}
	}
}

@media(max-width: 768px) {
	.page {
		width: 100%;

		.pattern {
			display: block;
			background-image: url(/native/pattern_top.png);
			background-size: cover;
			background-position: bottom;
			background-repeat: no-repeat;
			width: 100%;
			height: 100px;
			margin-top: -25px;
			margin-bottom: 25px;
		}

		.pattern.inverted {
			display: none;
		}

		.slide-one {
			display: block;
			width: 100%;
			height: auto;
			margin-top: -50px;
			margin-bottom: 50px;

			.right-col {
				display: block;
				width: 100%;
				height: auto;

				.product {
					width: 100%;
					height: 100%;
					max-height: 640px;
					text-align: center;

					.arrow {
						display: none;
					}

					.viewctrl {
						display: none;
					}

					.mobileview {
						display: block;
						position: relative;
						height: 432px; // 532
						clear: both;
						overflow: hidden;
						margin: 0px auto;

						img {
							width: 250px; // 300
							margin-top: 30px; // 25
							visibility: hidden;
						}
					}

					.taptic {
						display: block;
						position: absolute;
						left: 50%;
						background-image: url(/native/tap.png);
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						width: 35px;
						height: 35px;
						margin-top: -410px;
						margin-left: 100px;
						z-index: 5;
					}
				}

				.buy {
					font-size: 26px;
					background-image: url(/native/buttonbgk.png);
					width: 180px;
					height: 68px;
					color: rgba(136, 157, 57, 1);
					margin-top: 0px;
					text-indent: 0px;

					&:active {
						margin-top: 2px;
					}
				}
			}

			.left-col {
				display: none;
			}
		}

		.vertical-line {
			display: none;
		}

		.slide-two {
			display: none;
		}

		.slide-three {
			display: none;
		}

		.mobile {
			display: block;

			.menu {
				h2 {
					margin-left: 10px;
					margin-bottom: 25px;

					a {
						font-family: Helvetica, Arial, sans-serif;
						font-weight: 600;
						font-size: 30px;
						color: rgba(66, 45, 3, 1);
						text-decoration: none;
						box-sizing: border-box;

						.sheet {
							display: inline-block;
							background-image: url(/native/sheet.png);
							background-size: contain;
							background-position: center;
							background-repeat: no-repeat;
							width: 40px;
							height: 30px;
							margin-top: -5px;
							margin-right: 10px;
							vertical-align: middle;
						}
					}
				}

				.composition {
					display: none;
					width: 100%;
					height: 340px;
					overflow-x: auto;
					-webkit-overflow-scrolling: touch;

					.inner {
						width: 1820px;
						height: 220px;

						.card {
							display: inline-block;
							border: 1px solid rgba(136, 157, 57, 1);
							border-radius: 4px;
							width: 270px;
							height: 300px;
							margin-left: 5px;
							padding: 10px;
							color: rgba(60, 40, 3, 1);
							vertical-align: top;

							&:first-child {
								margin-left: 10px;
							}

							&-inner {
								height: 150px;

								h3 {
									font-size: 18px;
								}

								ul {
									margin-top: 4px;
									min-height: 100px;

									li {
										font-family: Helvetica, Arial, sans-serif;
										font-weight: 300;
										margin-top: 4px;
										padding-left: 1em;
										cursor: default;
										color: rgba(66, 45, 3, 1);
										text-indent: -0.7em;

										&::before {
											content: "• ";
											color: rgba(66, 45, 3, 1);
										}
									}
								}
							}

							.ingredient {
								display: block;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
								width: 80%;
								height: 150px;
								margin: 0px auto;

								&#naturalcoffee {
									background-image: url(/native/ingredients/naturalcoffee.png);
								}

								&#canesugar {
									background-image: url(/native/ingredients/canesugar.png);
								}

								&#seasalt {
									background-image: url(/native/ingredients/seasalt.png);
								}

								&#almondoil {
									background-image: url(/native/ingredients/almondoil.png);
								}

								&#orangeoil {
									background-image: url(/native/ingredients/orangeoil.png);
								}

								&#orangepeeloil {
									background-image: url(/native/ingredients/orangepeeloil.png);
								}
							}
						}
					}
				}

				.goodtoknow {
					display: none;
					width: 100%;
					height: 240px;
					overflow-x: auto;
					-webkit-overflow-scrolling: touch;

					.inner {
						width: 1760px;
						height: 230px;

						.card {
							display: inline-table;
							border: 1px solid rgba(136, 157, 57, 1);
							border-radius: 4px;
							width: 260px;
							height: 200px;
							margin-left: 5px;
							padding: 10px;
							color: rgba(66, 45, 3, 1);
							text-align: center;
							vertical-align: top;

							&:first-child {
								margin-left: 10px;
							}

							.incard {
								display: table-cell;
								vertical-align: middle;

								p {
									display: block;
								}

								ul {
									display: block;
									text-align: left;

									li {
										font-family: Helvetica, Arial, sans-serif;
										margin-top: 2px;
										padding-left: 1em;
										cursor: default;
										color: rgba(66, 45, 3, 1);
										text-indent: -0.7em;

										&:first-child {
											margin-top: 0px;
										}

										&::before {
											content: "• ";
											color: rgba(66, 45, 3, 1);
										}
									}
								}
							}
						}
					}
				}

				.aboutus {
					display: none;
					margin-left: 5%;
					margin-right: 5%;

					p {
						font-size: 16px;
						margin-top: 1px;
						color: rgba(66, 45, 3, 1);

						&:first-letter {
							margin-left: 16px;
						}

						&.tip {
							margin-top: 16px;
							color: rgba(124, 128, 44, 1);
						}
					}
				}
			}
		}

		.horizontal-line {
			background-size: cover;
			width: 100%;
			height: 10px;
			margin-top: 40px;
			margin-left: 0px;
		}

		.copyright {
			width: 260px;
			height: 15px;
			text-align: center;
			margin: 0px auto;
			margin-top: -12px;
		}

		.phone {
			width: 260px;
			margin: 25px auto;
		}
	}
}
