/*
	DESIGNED AT RA REKLAMIST (http://raReklamist.ru/);
	DEVELOPED BY TAMIK (http://Tamik.ru/);
*/

@font-face {
	font-family: Helvetica;
	font-weight: 100;
	src: local('Helvetica'), url(http://cdn.Tamik.ru/storage/fonts/HelveticaNeue/UltraLight.otf);
}

@font-face {
	font-family: Helvetica;
	font-weight: 200;
	src: local('Helvetica'), url(http://cdn.Tamik.ru/storage/fonts/HelveticaNeue/Light.otf);
}

@font-face {
	font-family: Helvetica;
	font-weight: 400;
	src: local('Helvetica'), url(http://cdn.Tamik.ru/storage/fonts/HelveticaNeue/Regular.otf);
}

@font-face {
	font-family: Helvetica;
	font-weight: 600;
	src: local('Helvetica'), url(http://cdn.Tamik.ru/storage/fonts/HelveticaNeue/Medium.otf);
}

* {
	margin: 0px;
	padding: 0px;
	outline: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	overflow-y: hidden;
}

div {
	display: block;
}

ul {
	list-style: none;
}

h1, h2, h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
}
