/*
	DESIGNED BY FAINA SAMAROVA (http://vk.com/id232842027 | faina.arsenovna@mail.ru);
	DEVELOPED BY TAMIK LOKYAEV (http://Tamik.ru/ | hello@Tamik.ru);
*/

.loading {
	position: fixed;
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.loading > .object {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 338px;
	margin-top: -169px;
	margin-left: -225px;
	text-align: center;
}

.loading > .object > .logo {
	background-image: url(/native/logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 450px;
	height: 338px;
	transition: margin-top 1s ease;
}

.loading > .object > .loading-text {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 24px;
	color: rgba(150, 150, 150, 0.5);
}

.loading > .object > .description {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: rgba(136, 157, 57, 1);
	width: 450px;
	height: 100px;
	padding-top: 25px;
	cursor: default;
	opacity: 0;
	transition: all 1s ease;
}

.loading > .object > .enter {
	background: none;
	background-image: url(/native/intro_enter.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	width: 220px;
	height: 50px;
	margin-top: 100px;
	cursor: pointer;
	opacity: 0;
	transition: all 1s ease;
}

.badbrowser {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: rgba(255, 0, 0, 1);
}
