/*
	DESIGNED BY FAINA SAMAROVA (http://vk.com/id232842027 | faina.arsenovna@mail.ru);
	DEVELOPED BY TAMIK LOKYAEV (http://Tamik.ru/ | hello@Tamik.ru);
*/

.page {
	position: absolute;
	width: 4758px;
	min-height: 100%;
	transition: width 1.25s ease;
}

.page > .pattern {
	display: inline-block;
	background-image: url(/native/pattern.png);
	background-size: cover;
	background-position: right;
	background-repeat: repeat-y;
	width: 600px;
	height: 1000px;
	vertical-align: middle;
}

.page > .pattern.inverted {
	background-image: url(/native/pattern_inv.png);
}

.page > .slide-one {
	display: inline-block;
	width: 1200px;
	height: 900px;
	vertical-align: middle;
}

.page > .slide-one > .right-col {
	display: inline-block;
	width: 450px;
	height: 900px;
	vertical-align: middle;
}

.page > .slide-one > .right-col > .product {
	display: block;
	width: 500px;
	height: 780px;
}

.page > .slide-one > .right-col > .product > .arrow {
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 22px;
	height: 700px;
	vertical-align: middle;
}

.page > .slide-one > .right-col > .product > .arrow.up {
	background-image: url(/native/up.png);
}

.page > .slide-one > .right-col > .product > .arrow.down {
	background-image: url(/native/down.png);
}

.page > .slide-one > .right-col > .product > .viewctrl {
	display: inline-block;
	cursor: ew-resize;
	vertical-align: middle;
}

.page > .slide-one > .right-col > .buy {
	display: block;
	font-size: 20px;
	font-weight: 600;
	background: none;
	background-image: url(/native/buttonbg.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	width: 160px;
	height: 60px;
	margin: 0px auto;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
	text-indent: 10px;
}

.page > .slide-one > .right-col > .buy:active {
	margin-top: 2px;
}

.page > .slide-one > .left-col {
	position: relative;
	display: inline-block;
	width: 500px;
	height: 800px;
	margin-left: 100px;
	vertical-align: middle;
}

.page > .slide-one > .left-col > h1 {
	font-family: "Newton", Georgia, serif;
	margin-bottom: -10px;
	color: rgba(66, 45, 3, 1);
	cursor: default;
}

.page > .slide-one > .left-col > .features {
	display: block;
	margin: 0px auto;
	vertical-align: middle;
}

.page > .slide-one > .left-col > .features > h2 {
	margin-top: 35px;
}

.page > .slide-one > .left-col > .features > h2 > a {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: rgba(136, 157, 57, 1);
	text-decoration: none;
}

.page > .slide-one > .left-col > .features > h2 > a > .feature {
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	height: 25px;
	margin-top: -8px;
	margin-right: 8px;
	vertical-align: middle;
}

.page > .slide-one > .left-col > .features > h2 > a > .feature#dots {
	background-image: url(/native/dots.png);
}

.page > .slide-one > .left-col > .features > h2 > a > .feature#lines {
	background-image: url(/native/lines.png);
}

.page > .slide-one > .left-col > .features > div {
	margin-left: 45px;
}

.page > .slide-one > .left-col > .features > div > ul {
	margin-top: 8px;
}

.page > .slide-one > .left-col > .features > div > ul > li {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-top: 4px;
	padding-left: 1em;
	cursor: default;
	color: rgba(136, 157, 57, 1);
	text-indent: -0.7em;
}

.page > .slide-one > .left-col > .features > div > ul > li::before {
	content: "• ";
	color: rgba(136, 157, 57, 1);
}

.page > .slide-one > .left-col > .ingredient {
	display: block;
	position: absolute;
	bottom: 0px;
	background-image: url(/native/ingredients.png);
	background-size: cover;
	background-position: 0px -600px;
	background-repeat: no-repeat;
	width: 550px;
	height: 300px;
	margin-top: 100px;
}

.page > .vertical-line {
	display: inline-block;
	background-image: url(/native/vertical.png);
	background-size: cover;
	background-repeat: repeat-y;
	width: 50px;
	height: 725px;
	margin-left: 100px;
	margin-right: 100px;
	vertical-align: middle;
}

.page > .vertical-line.inverted {
	background-image: url(/native/vertical_inv.png);
}

.page > .slide-two {
	display: inline-block;
	width: 960px;
	height: 725px;
	vertical-align: middle;
}

.page > .slide-two > h1 {
	font-family: "Newton", Georgia, serif;
	margin-top: -40px;
	margin-left: 4px;
	margin-bottom: 10px;
	color: rgba(66, 45, 3, 1);
	cursor: default;
}

.page > .slide-two > .about {
	display: block;
	width: 960px;
}

.page > .slide-two > .about > .card {
	display: inline-block;
	font-size: 14px;
	width: 300px;
	height: 225px;
	margin: 8px;
	text-align: center;
	vertical-align: middle;
}

.page > .slide-two > .about > .card > .front {
	background-color: rgba(124, 133, 44, 1);
}

.page > .slide-two > .about > .card > .front > .image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.page > .slide-two > .about > .card > .back {
	background-color: rgba(124, 133, 44, 1);
	color: rgba(255, 255, 255, 1);
}

.page > .slide-two > .about > .card > .back > .text {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 280px;
	height: 205px;
	margin: 10px;
}

.page > .slide-three {
	display: inline-block;
	width: 860px;
	height: 725px;
	margin-left: 10px;
	vertical-align: middle;
}

.page > .slide-three > .social {
	margin-top: -35px;
	margin-bottom: 10px;
}

.page > .slide-three > .social > .icon {
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	cursor: pointer;
	transition: opacity 0.25s ease;
}

.page > .slide-three > .social > .icon:first-child {
	margin-left: 0px;
}

.page > .slide-three > .social > .icon:hover {
	opacity: 0.9;
}

.page > .slide-three > .social > .icon#fb {
	background-image: url(/native/fb.png);
}

.page > .slide-three > .social > .icon#insta {
	background-image: url(/native/insta.png);
}

.page > .slide-three > .about {
	display: inline-block;
	background-image: url(/native/about.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 275px;
	height: 700px;
	vertical-align: middle;
}

.page > .slide-three > .about_description {
	display: inline-block;
	background-image: url(/native/description.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 400px;
	height: 600px;
	margin-left: 100px;
	vertical-align: middle;
}

.page > .horizontal-line {
	display: block;
	background-image: url(/native/horizontal.png);
	background-size: contain;
	background-position: center;
	background-repeat: repeat-x;
	width: 3500px;
	height: 10px;
	margin-top: -25px;
	margin-left: 600px;
}

.page > .copyright {
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	background-image: url(/native/copyright.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 15px;
	margin-top: -15px;
	margin-left: 3725px;
}

@media(max-height: 860px) {
	.page {
		width: 3998px;
	}

	.page > .pattern {
		width: 500px;
	}

	.page > .slide-one {
		width: 1000px;
		height: 700px;
	}

	.page > .slide-one > .right-col {
		width: 414px;
		height: 700px;
	}

	.page > .slide-one > .right-col > .product {
		width: 414px;
		height: 640px;
		margin-top: -10px;
	}

	.page > .slide-one > .right-col > .product > .arrow {
		height: 640px;
	}

	.page > .slide-one > .right-col > .buy {
		margin-top: -10px;
	}

	.page > .slide-one > .right-col > .buy:active {
		margin-top: -8px;
	}

	.page > .slide-one > .left-col {
		height: 700px;
		margin-left: 60px;
	}

	.page > .slide-one > .left-col > h1 {
		font-size: 28px;
	}

	.page > .slide-one > .left-col > .features > h2 {
		margin-top: 26px;
	}

	.page > .slide-one > .left-col > .features > h2 > a {
		font-size: 22px;
	}

	.page > .slide-one > .left-col > .features > h2 > a > .feature {
		width: 30px;
		height: 20px;
		margin-top: -8px;
		margin-right: 8px;
	}

	.page > .slide-one > .left-col > .features > div > ul {
		margin-top: 6px;
	}

	.page > .slide-one > .left-col > .ingredient {
		bottom: 20px;
		background-image: url(/native/ingredients_low.png);
		background-position: 0px -480px;
		width: 500px;
		height: 240px;
	}

	.page > .vertical-line {
		background-size: contain;
		height: 620px;
		margin-left: 50px;
		margin-right: 50px;
	}

	.page > .slide-two {
		width: 860px;
		height: 700px;
	}

	.page > .slide-two > h1 {
		font-size: 28px;
		margin-top: 0px;
		margin-bottom: 2px;
	}

	.page > .slide-two > .about {
		display: block;
		width: 960px;
	}

	.page > .slide-two > .about > .card {
		width: 260px;
		height: 195px;
		margin: 8px;
	}

	.page > .slide-two > .about > .card > .back > .text {
		width: 240px;
		height: 176px;
		margin: 10px;
	}

	.page > .slide-three {
		width: 800px;
		height: 700px;
		margin-left: 10px;
	}

	.page > .slide-three > .social {
		margin-top: 0px;
	}

	.page > .slide-three > .about {
		height: 620px;
	}

	.page > .slide-three > .about_description {
		margin-top: 20px;
		margin-left: 50px;
	}

	.page > .horizontal-line {
		width: 2930px;
		height: 8px;
		margin-top: -20px;
		margin-left: 500px;
	}

	.page > .copyright {
		height: 14px;
		margin-top: -12px;
		margin-left: 3080px;
	}
}
